.centered-text {
    text-align: center;
}

.meal-thumbnail {
    height:300px;
    width:50%;
}

#createMeal {
  background-image: url("https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2013/12/05/Food/Images/food411386285091.jpg?uuid=v7Vr3l4CEeONJDHAFrl2sg");
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron-header {
  color: white;
}

.input {
  font-size: 30px;
}

.input-group-addon {
  background-color: black;
  color: white;
  font-size: 30px;
  border: white 1px;

}

.form-control {
  width: 100%;
  border-color: white;
  font-size: 20px;
  height: 40px;

}

.create {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
