body {
    background-color: #F5F5F5;
}

.cook-profile-container {
    overflow: hidden;
    /*height: 200px;*/
}
.users-picture {
    max-width:100%;
}

.light-border {
    border:1px solid #dce0e0;
}


.jumbotron-notifications {
    padding-top:1px;
    padding-bottom:1px;
    padding-right:0px;
    padding-left:0px;

}

.notifications-title {
    margin-top:15px;
    margin-bottom:15px;
}

.crop-image {
    overflow:hidden;
    max-height:300px;
}


.light-border-no-top {
    border-top:none;
}

.no-padding {
    padding:0;
}

.no-margin {
    margin:0;
}

.cooks-name {
    text-align:center;

}

.dashboard-spacer {
    height:50px
}

.jumbotron-dashboard {
    padding-top: 5px;
    padding-bottom:5px;
}
.dashboard-subtitle {
    color: #ff5a5f
}