body {
  margin-top: 65px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 15px;
}


.meals-page-h2 {
  margin: 20px 0 20px 20px;
  text-align: left;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.meals-page-h3 {
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.delivered {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.mealDescription {
  font-size: 18px;
}

.meals-page-p {
  margin: 10px;
}

.meal-picture {
  height: 300px;
}

.image {
  padding: 0;
}

.cookName {
  font-style: italic;
}

.orderButton {
  width: 300px;
  margin-bottom: 20px;
  background-color: #339933;
  color: white;
  border: none;
}

.orderButton:hover, .orderButton:focus {
  border: none;
}

.mealTitle {
  border-top: 1px dotted silver;
}

.shadow > .mealTitle {
  border: none;
}